In [12]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [15]:
import sys
print(sys.version_info)
print(sys.version)

sys.version_info(major=3, minor=11, micro=7, releaselevel='final', serial=0)
3.11.7 | packaged by Anaconda, Inc. | (main, Dec 15 2023, 18:05:47) [MSC v.1916 64 bit (AMD64)]

In [4]:
import datetime
x = datetime.datetime.now()
print(x)

2024-06-25 20:22:36.865909

In [19]:
import math
r = float(input("enter the radius of circle"))
area = math.pi*r**2
print(area)

enter the radius of circle 1.1

3.8013271108436504

In [29]:
a = input("Enter The First Name:")
b =  input("Enter The Last Name:")
print(a + " " + b)

Enter The First Name: Jitendra
Enter The Last Name: Singh

Jitendra  Singh

In [6]:
a = input("enter the number")
print(list(a))
print(tuple(a))

enter the number 2 3 4 5

['2', ' ', '3', ' ', '4', ' ', '5']
('2', ' ', '3', ' ', '4', ' ', '5')

In [10]:
a = input("enter the number")
x = a.split(".")
print(":"+ repr(x[-1]))

enter the number re.re

:'re'

In [12]:
x = ["Red","Green","White" ,"Black"]
print(x[0],x[3])

Red Black

In [17]:
x = (11, 12, 2014)
print("Date : %i / %i / %i" % x)

Date : 11 / 12 / 2014

In [1]:
a = int(input("Enter the n numbwe"))
x1 = int("%s" % a)        
x2 = int("%s%s" % (a, a))   
x3 = int("%s%s%s" % (a, a, a)) 
print(x1 + x2 + x3)

Enter the n numbwe 5

615

In [2]:
print(abs.__doc__)

Return the absolute value of the argument.

In [3]:
import calendar
x = int(input("Enter The Year"))
y = int(input("Enter The Month "))

print(calendar.month(x, y))

Enter The Year 2017
Enter The Month  12

   December 2017
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [5]:
print("""a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example""")

a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example

In [10]:
from datetime import date
x = date(2014, 7, 2)
y = date(2014, 7, 11)
a = y - x
print(a.days)

9

In [12]:
import math
r = int(input("Enter The redius of the sphere"))
v = 4/3 * math.pi * r**3
print("volume : ",v)

Enter The redius of the sphere 6

volume :  904.7786842338603

In [30]:
n = int(input("Enter The a Number"))
def ram(n):

   if n <= 17: 
      return 17 - n
   else:
      return(n - 17)*2
print(ram(n))

Enter The a Number 22

10

In [ ]:
17

In [23]:
a = int(input("Enter The a number"))
b = int(input("Enter The b number "))
c = int(input("Enter The c number"))
def sum_class(a,b,c):
    sum = a + b + c  
    if a == b == c:
       sum = sum * 3
    return sum 
print(sum_class(a,b,c))

Enter The a number 3
Enter The b number  3
Enter The c number 3

27

In [28]:
19

19

In [29]:
a = input("Enter The text ")
b = int(input("Enter The n number "))
def larger_string(text, n):
    result = " "
    for i in range(n):
        result = result + text
    return result
print(larger_string(a, b))

Enter The text  ram
Enter The n number  4

 ramramramram

In [55]:
a = int(input("Enter The a number"))
if a%2 == 0:
    print("Even Number")
else:
    print("odd Number")

Enter The a number 121

odd Number

In [12]:
def list_count_4(x):
    count = 0
    for a in x:
       if a == 4:
          count = count + 1
    return count
print(list_count_4([2, 4, 3, 4, 5, 4, 5, 4]))

4

In [13]:
a = input("Enter The text ")
b = int(input("Enter The n number "))
def clas(text, n):
   flen = 2 
   if flen > len(text):
      flen > len(text)
   y = text[:flen]
   result = " "
   for i in range(n):
    result = result + y
   return result
print(clas(a, b))

Enter The text  ad
Enter The n number  3

 adadad

In [17]:
a = input("Enter The text ")
y = input("Enter The text ")
def Name(x):
    b = a
    return x in b
print(Name(y))

Enter The text  weded
Enter The text  e

True

In [22]:
x = input("Enter numbers separated by commas: ")
y = [int(x) for x in x.split(',')]
print(y)

Enter numbers separated by commas:  2, 3, 4, 5, 5

[2, 3, 4, 5, 5]

In [5]:
def ram(x):
    for n in x:
        output = ''   # Initialize an empty string called output.
        y = n
        while y > 0:
            output += '*'
            y = y - 1   # Decrement the times variable.

        print(output)
ram([1, 2, 3, 4, 5, 6, 7, 8])

*
**
***
****
*****
******
*******
********

In [29]:

def ram(a):
    b = ' '
    for element in a:
        b += str(element)
    return b
print(ram([ 2, 3, 4, 5, 6]))

 23456

In [13]:
number = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]
b = int(input("Enter The n number "))
for y in number:
    if y == b:
         print(y)
         break
    elif y% 2 == 0:
         print(y)

Enter The n number  237

386
462
418
344
236
566
978
328
162
758
918
237

In [36]:
x = set(input("Enter The Color : ").split(', '))
y = set(input("Enter the Different color: ").split(', '))
a = x - y
b = y - x
#print(y.difference(b))
#print(b.difference(y))
print(a) 
print(b)

Enter numbers separated by commas:  w, b, r
Enter numbers separated by commas:  r, g

{'b', 'w'}
{'g'}

In [37]:
b = int(input("Enter the base : "))
h = int(input("Enter the height : "))
area = b * h /  2
print("area = ", area)

Enter the base :  20
Enter the height :  40

area =  400.0

In [44]:
x = int(input("Enter the a number : "))
y = int(input("Enter the b number : "))
def GCD(x, y):
    GCD = 1
    if x % y == 0:
        return y
    for a in range(int(y / 2), 0, -1):
        if x % a == 0 and y % a == 0:
            GCD = a
            break
    return GCD
print("GCD  =", GCD(x, y))

Enter the a number :  336
Enter the b number :  360

GCD  = 24

In [7]:
x = int(input("Enter The x numbeer : "))
y = int(input("Enter The y number : "))
z = int(input("Enter The z nummber : "))
if x == y or y == z or x == z:
    print(0)
else:
     sum =   x + y + z
print(sum)

Enter The x numbeer :  2
Enter The y number :  3
Enter The z nummber :  4

9

In [10]:
x = int(input("Enter The x numbeer : "))
y = int(input("Enter The y number : "))
z = x + y
if z in range(15, 20):
    print(20)
else:
    print(z)

Enter The x numbeer :  22
Enter The y number :  3

25

In [45]:
x = float(input("Enter The x numbeer : "))
y = int(input("Enter The y number : "))
if x == y or (x - y) == 5 or (x + y) == 5:
    print(True)
else:
    print(False)

Enter The x numbeer :  2
Enter The y number :  3

True

In [50]:
def sum(x, y):
    
    if not (isinstance(x, int) and isinstance(y, int)):
        return " no Integers"
    return x + y   
print(sum(10, 20))    
print(sum(10, 20.23)) 
print(sum('5', 6))

30
 no Integers
 no Integers

In [59]:
Name = input("Enter Your Name : ")
Age = int(input("Enter your Age :"))
Add = input("Enter Address : ")
print("Name: {}\nAge: {}\nAddress: {}".format(Name, Age, Add))

Enter Your Name :  Ram
Enter your Age : 21
Enter Address :  jaipur

Name: Ram
Age: 21
Address: jaipur

In [63]:
x = int(input("Enter The x numbeer : "))
y = int(input("Enter The y number : "))
sum = (x + y) * (x + y)
print(f"({x} + {y})^2 = {sum}")

Enter The x numbeer :  3
Enter The y number :  4

(3 + 4)^2 = 49

In [66]:
amt = int(input("Enter The amt numbeer : "))
interest = float(input("Enter The interest number : "))
years = int(input("Enter The Year number : "))
Total_Amaunt = amt * ((1 + (0.01 * interest)) ** years)
print(Total_Amaunt, 2)

Enter The amt numbeer :  10000
Enter The interest number :  3.5
Enter The Year number :  7

12722.792627665729 2

In [70]:
import math
x1 = float(input("Enter x1: "))
y1 = float(input("Enter y1: "))
x2 = float(input("Enter x2: "))
y2 = float(input("Enter y2: "))
distance = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)
print("Dsstance  :", distance)

Enter x1:  4
Enter y1:  0
Enter x2:  6
Enter y2:  6

Dsstance  : 6.324555320336759

In [73]:
import os.path
print(os.path.isfile('main.txt'))
print(os.path.isfile('main.py'))

False
False

In [2]:
import struct
print(struct.calcsize("P") * 8)
# The format string "P" is used to represent the C void pointer type, and multiplying it by 8 gives the size in bits.

32

In [5]:
import platform
import os
print("Name of the operating system:", os.name)
print("Name of the OS system:", platform.system())
print("Version of the operating system:", platform.release())

Name of the operating system: nt
Name of the OS system: Windows
Version of the operating system: 10

In [14]:
import site
print(site.getsitepackages())

['C:\\Users\\vs\\anaconda3', 'C:\\Users\\vs\\anaconda3\\Lib\\site-packages']

In [15]:
import os
print(os.system('ls -l'))

1

In [16]:
import psutil
print(psutil.cpu_count())

8

In [19]:
import os
print("Current File Name: ", os.path.realpath('C:\Program Files' ))

Current File Name:  C:\Program Files

In [21]:
import multiprocessing
cpu_count = multiprocessing.cpu_count()
print(cpu_count)

8

In [34]:
x = str(input("Enter The Number "))
print(float(x))
print(int(x))

Enter The Number  656

656.0
656

In [38]:
for i in range(0, 10):
    print('*', end="")
print("\n")

**********