In [3]:
# Python program to demonstrate the use of formatting using % 
  
# Initialize variable as a string 
variable = '15'
string = "Variable as string = %s" %(variable) 
print (string ) 
print ("Variable as raw data = %r" %(variable))

Variable as string = 15
Variable as raw data = '15'

In [2]:
# Convert the variable to integer 
# And perform check other formatting options 
  
variable = int(variable) # Without this the below statement 
                       
string = "Variable as integer = %d" %(variable) 
print (string) 
print ("Variable as float = %f" %(variable))

Variable as integer = 15
Variable as float = 15.000000

In [6]:
# printing as any string or char after a mark 
# here i use mayank as a string
variable = 15
print ("Variable as printing with special char = %c" %(variable)) 
  
print ("Variable as hexadecimal = %x" %(variable)) 
print ("Variable as octal = %o" %(variable))

Variable as printing with special char = 
Variable as hexadecimal = f
Variable as octal = 17

In [7]:
# creating string 
# with single Quotes 
String = 'Hello Geek'
print("Creating string with single quotes :", String) 
  
# Creating String 
# with double Quotes 
String = "yes, I am Geek"
print("Creating String with double quotes :", String) 
  
# Creating String 
# with triple Quotes 
String = '''yes, I am Geek'''
print("Creating String with triple quotes :", String)

Creating string with single quotes : Hello Geek
Creating String with double quotes : yes, I am Geek
Creating String with triple quotes : yes, I am Geek

In [8]:
# this code prints the output within quotes.  
# print WithQuotes within single quotes  
print("'Jai shree Ram'")  
print("Hello 'Python'")  
    
# print WithQuotes within single quotes  
print('"jai shree Ram"')  
print('Hello "Python"')

'Jai shree Ram'
Hello 'Python'
"jai shree Ram"
Hello "Python"

In [9]:
# creating a string 
String = "GEEK"
  
# Show first element in string 
print("The 1st element is : ", String[0]) 
  
# Show 2nd element in string 
print("The 2nd element is : ", String[1]) 
  
print("The 3rd element is : ", String[2]) 
print("The 4th element is : ", String[3])

The 1st element is :  G
The 2nd element is :  E
The 3rd element is :  E
The 4th element is :  K

In [10]:
#update String
x  = "Geeks"
  
# assign new character 
x[0] = "Hi!, Geeks"

TypeError: 'str' object does not support item assignment

In [12]:
# Creating string 
String = "Hello Geeks"
print("Before updating : ", String) 
  
# updating entire string 
String = "Geeksforgeeks"
print("After updating : ", String) 
  
# Update with indexing 
String = 'Hello World!'
print("Updated String :- ", String[:6] + 'Python')

Before updating :  Hello Geeks
After updating :  Geeksforgeeks
Updated String :-  Hello Python

In [ ]:
List

In [1]:
x = ["Geeks", "for", "Geeks"]
print(x)

['Geeks', 'for', 'Geeks']

In [2]:
# using index
List = ["Geeks", "For", "Geeks"]
print("\nList Items: ")
print(List[0])
print(List[2])

List Items:
Geeks
Geeks

In [3]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 4]
print(x)
y = [ 3, 5, "Ram", 4, " jitu"]
print(y)

[1, 2, 3, 4, 5, 6, 7, 8, 4]
[3, 5, 'Ram', 4, ' jitu']

In [6]:
x = ["ram", "jitu", "kavar"]
print(x[1])
print(x[2])

jitu
kavar

In [19]:
# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
x = [['Geeks', 'For', 'jitu'], ['Geeks', 'Ram']]

# accessing an element from the
# Multi-Dimensional List using
# index number
print("Accessing a element from a Multi-Dimensional list")
print(List[1][2])
print(List[2][2])

Accessing a element from a Multi-Dimensional list
r
e

In [21]:
x = [2, 3, 4, 5, 6, 7, 4]
print(x[-3])
print(x[-4])

6
5

In [22]:
x = [2, 3, 4, 5, 6, 7, 4]
print(len(x))

7

In [24]:
x = input("Enter elements (Space-Separated): ".split())
print(x, list)

['Enter', 'elements', '(Space-Separated):'] rurj ram jitu kavar

rurj ram jitu kavar <class 'list'>

In [25]:
List.append(1)
List.append(2)
List.append(4)
print("\nList after Addition of Three elements: ")
print(List)

# Adding elements to the List
# using Iterator
for i in range(1, 4):
    List.append(i)
print("\nList after Addition of elements from 1-3: ")
print(List)

# Adding Tuples to the List
List.append((5, 6))
print("\nList after Addition of a Tuple: ")
print(List)

List after Addition of Three elements:
['Geeks', 'For', 'Geeks', 1, 2, 4]

List after Addition of elements from 1-3:
['Geeks', 'For', 'Geeks', 1, 2, 4, 1, 2, 3]

List after Addition of a Tuple:
['Geeks', 'For', 'Geeks', 1, 2, 4, 1, 2, 3, (5, 6)]

In [26]:
List = [1,2,3,4]
print("Initial List: ")
print(List)

# Addition of Element at 
# specific Position
# (using Insert Method)
List.insert(3, 12)
List.insert(0, 'Geeks')
print("\nList after performing Insert Operation: ")
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Insert Operation:
['Geeks', 1, 2, 3, 12, 4]

In [28]:
# Reversing a list
x = [1, 2, 3, 4, 5, 'Geek', 'Python']
x.reverse()
print(x)

['Python', 'Geek', 5, 4, 3, 2, 1]

In [29]:
my_list = [1, 2, 3, 4, 5]
reversed_list = list(reversed(my_list))
print(reversed_list)

[5, 4, 3, 2, 1]

In [34]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
x.remove(6)
print(x)

None
[1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12]

In [35]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
for i in range(1, 5):   # Removing elements from List
  x.remove(i)                       # using iterator method
print(x)

[5, 6, 7, 8, 9, 10, 11, 12]

In [37]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
x.pop(4)
print(x)

[1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12]

In [41]:
x = ['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']
print(x[3:8])
print(x[5:])
print(x[:])

['K', 'S', 'F', 'O', 'R']
['F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

In [43]:
x = ['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']
print(x[:-8])
print(x[:-1])

['G', 'E', 'E', 'K', 'S']
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K']