In [1]:
# Creating an empty Tuple
# Creating a Tuple
# with the use of string
x = ('Geeks', 'For')
print("\nTuple with the use of String: ", x)
# Creating a Tuple with
# the use of list
y = [1, 2, 4, 5, 6]
print("\nTuple using List: ", y)

# Creating a Tuple
# with the use of built-in function
z = tuple('Geeks')
print("\nTuple with the use of function: ", z)

Tuple with the use of String:  ('Geeks', 'For')

Tuple using List:  [1, 2, 4, 5, 6]

Tuple with the use of function:  ('G', 'e', 'e', 'k', 's')

In [2]:
# Creating a Tuple
# with Mixed Datatype
x = (5, 'Welcome', 7, 'Geeks')
print("\nTuple with Mixed Datatypes: ", x)
# Creating a Tuple
# with nested tuples
x = (0, 1, 2, 3)
y = ('python', 'geek')
z = (x, y)
print("\nTuple with nested tuples: ", z)

# Creating a Tuple
# with repetition
x = ('Geeks',) * 3
print("\nTuple with repetition: ", x)
# Creating a Tuple
# with the use of loop
x = ('Geeks')
n = 5
print("\nTuple with a loop")
for i in range(int(n)):
    x = (x,)
    print(x)

Tuple with Mixed Datatypes:  (5, 'Welcome', 7, 'Geeks')

Tuple with nested tuples:  ((0, 1, 2, 3), ('python', 'geek'))

Tuple with repetition:  ('Geeks', 'Geeks', 'Geeks')

Tuple with a loop
('Geeks',)
(('Geeks',),)
((('Geeks',),),)
(((('Geeks',),),),)
((((('Geeks',),),),),)

In [4]:
x = tuple("Ram")
print(" first ele. of tuple: ", x[0])
# This line unpack
# values of Tuple1
x = ("Ram", "jitu", "rahul", "Rakesh")
a, b, c, d = x 
print("\nValues after unpacking: ")
print(a)
print(b)
print(c)
print(d)

 first ele. of tuple:  R

Values after unpacking:
Ram
jitu
rahul
Rakesh

In [11]:
# Concatenation of tuples
x = (1, 2, 3, 4, 5 )
y = ("Ram", "Jitu", "Rahul", "Rakesh")
z = x + y

print("Concatenation of tuples: ", z)

Concatenation of tuples:  (1, 2, 3, 4, 5, 'Ram', 'Jitu', 'Rahul', 'Rakesh')

In [2]:
# Slicing of a Tuple
x = tuple("ueefhrhfjrerne")
print("removal of First ele. :", x[1:])
print("removal of after sequence of  ele. :", x[::-1])
print("removal of ele. Range :", x[4:9])

removal of First ele. : ('e', 'e', 'f', 'h', 'r', 'h', 'f', 'j', 'r', 'e', 'r', 'n', 'e')
removal of after sequence of  ele. : ('e', 'n', 'r', 'e', 'r', 'j', 'f', 'h', 'r', 'h', 'f', 'e', 'e', 'u')
removal of ele. Range : ('h', 'r', 'h', 'f', 'j')

In [3]:
x = tuple("ueefhrhfjrerne")
del x
print(x)

NameError: name 'x' is not defined

In [4]:
'''Note: In case your generating a tuple with a single element, 
make sure to add a comma after the element.#Let us see an example of the same.'''
x = ("Ram",)
print(type(x))
x = ("Ram")
print(type(x))

<class 'tuple'>
<class 'str'>

In [5]:
x = (1, 2, 3, 4, 5)
# tuples are indexed
print(x[1])
print(x[4])
 
# tuples contain duplicate elements
x = (1, 2, 3, 4, 2, 3)
print(x)
 
# adding an element
x[1] = 100
print(x)

2
5
(1, 2, 3, 4, 2, 3)

TypeError: 'tuple' object does not support item assignment

In [6]:
x = ("Ram", "jiru", "rakesh")
print(x[0])
print(x[1])
print(x[2])

Ram
jiru
rakesh

In [7]:
x = (1, 2, 3, 4, 5)
print(x[-1])
print(x[-2])
print(x[-3])

5
4
3

In [8]:
# Code for concatenating 2 tuples
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'geek')
 
print(tuple1 + tuple2)

(0, 1, 2, 3, 'python', 'geek')

In [9]:
# Code for creating nested tuples
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'geek')
 
tuple3 = (tuple1, tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'geek'))

In [12]:
# Code to create a tuple with repetition
x = ('python',)*3
print(x)

('python', 'python', 'python')

In [14]:
x = (1, 2, 3, 4, 5)
print(x[1:])
print(x[::-1])
print(x[2:4])

(2, 3, 4, 5)
(5, 4, 3, 2, 1)
(3, 4)

In [15]:
# Code for deleting a tuple
x = ( 0, 1)
 
del x
print(x)

NameError: name 'x' is not defined

In [16]:
# Code for printing the length of a tuple
x = ('python', 'geek')
print(len(x))

2

In [17]:
# Code for converting a list and a string into a tuple
list1 = [0, 1, 2]
 
print(tuple(list1))
 
# string 'python'
print(tuple('python'))

(0, 1, 2)
('p', 'y', 't', 'h', 'o', 'n')

In [1]:
# using Unpacking the tuple 
# initialize tuple
x = (10, 4, 5, 6, 7)
 
# printing original tuple
print("The original tuple : " + str(x))
 
# Accessing front and rear element of tuple
# Unpacking the tuple
front, *_, rear = x 
# Storing the front and rear elements
res = (front, rear)
print("The front and rear element of tuple are : " + str(res))

The original tuple : (10, 4, 5, 6, 7)
The front and rear element of tuple are : (10, 7)

In [7]:
x = (2, 3, 4, 5, 6)
print(str(x))
a = x[0]
b = x[-1]
z = (a, b)
print(str(z))

(2, 3, 4, 5, 6)
(2, 6)

In [8]:
x = (20, 33, 45, 5, 6)
a = x[0]
b = x[-1]
z = (tuple([a]) + tuple([b]))
print(str(z))

(20, 6)

In [13]:
x = (22, 33, 45, 67, 88, 7, 4)
print(str(x))
a = tuple([x[i] for i in [0, -1]])
print(str(a))

(22, 33, 45, 67, 88, 7, 4)
(22, 4)

In [14]:
# Element Index in Range Tuples
x = [(0, 10), (11, 20), (21, 30), (31, 40), (41, 50)]
print(str(x))
k = 37
res = (k // (x[0][1] - x[0][0]))
print(str(res))

[(0, 10), (11, 20), (21, 30), (31, 40), (41, 50)]
3

In [15]:
import numpy as np
x = [(0, 10), (11, 20), (21, 30), (31, 40), (41, 50)]
# printing original list
print("The original list is : " + str(x))
K = 37
arr = np.array(x)
idx = np.where((arr[:, 0] <= K) & (arr[:, 1] > K))[0][0]
print("The position of element: ", idx)
#This code is contributed by Jyothi Pinjala.

The original list is : [(0, 10), (11, 20), (21, 30), (31, 40), (41, 50)]
The position of element:  3

In [16]:
# this lines PACKS values
# into variable a
a = ("MNNIT Allahabad", 5000, "Engineering")  
 
# this lines UNPACKS values
(college, student, type_ofcollege) = a  

print(college)

print(student)

print(type_ofcollege)

MNNIT Allahabad
5000
Engineering

In [17]:
# first and last will be assigned to x and z
x, *y, z = (10, "Geeks ", " for ", "Geeks ", 50)

print(x)
print(y)
print(z)
 
# first and second will be assigned to x and y
# remaining will be assigned to z
x, y, *z = (10, "Geeks ", " for ", "Geeks ", 50)
print(x)
print(y)
print(z)

10
['Geeks ', ' for ', 'Geeks ']
50
10
Geeks
[' for ', 'Geeks ', 50]

In [18]:
# function takes normal arguments
# and multiply them
def result(x, y):
    return x * y
# function with normal variables
print (result(10, 100))
 
# A tuple is created
z = (10, 100)
 
# Tuple is passed
# function unpacked them
 
print (result(*z))

1000
1000