In [12]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [15]:
import sys
print(sys.version_info)
print(sys.version)

sys.version_info(major=3, minor=11, micro=7, releaselevel='final', serial=0)
3.11.7 | packaged by Anaconda, Inc. | (main, Dec 15 2023, 18:05:47) [MSC v.1916 64 bit (AMD64)]

In [16]:
import datetime
x = datetime.datetime.now()
print(x)

2024-06-25 11:27:20.163031

In [19]:
import math
r = float(input("enter the radius of circle"))
area = math.pi*r**2
print(area)

enter the radius of circle 1.1

3.8013271108436504

In [29]:
a = input("Enter The First Name:")
b =  input("Enter The Last Name:")
print(a + " " + b)

Enter The First Name: Jitendra
Enter The Last Name: Singh

Jitendra  Singh

In [6]:
a = input("enter the number")
print(list(a))
print(tuple(a))

enter the number 2 3 4 5

['2', ' ', '3', ' ', '4', ' ', '5']
('2', ' ', '3', ' ', '4', ' ', '5')

In [10]:
a = input("enter the number")
x = a.split(".")
print(":"+ repr(x[-1]))

enter the number re.re

:'re'

In [12]:
x = ["Red","Green","White" ,"Black"]
print(x[0],x[3])

Red Black

In [17]:
x = (11, 12, 2014)
print("Date : %i / %i / %i" % x)

Date : 11 / 12 / 2014

In [1]:
a = int(input("Enter the n numbwe"))
x1 = int("%s" % a)        
x2 = int("%s%s" % (a, a))   
x3 = int("%s%s%s" % (a, a, a)) 
print(x1 + x2 + x3)

Enter the n numbwe 5

615

In [2]:
print(abs.__doc__)

Return the absolute value of the argument.

In [4]:

x = int(input("Enter The Year"))
y = int(input("Enter The Month "))

print(calendar.month(x, y))

Enter The Year 2024
Enter The Month  06

     June 2024
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [5]:
print("""a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example""")

a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example

In [10]:
from datetime import date
x = date(2014, 7, 2)
y = date(2014, 7, 11)
a = y - x
print(a.days)

9

In [12]:
import math
r = int(input("Enter The redius of the sphere"))
v = 4/3 * math.pi * r**3
print("volume : ",v)

Enter The redius of the sphere 6

volume :  904.7786842338603

In [30]:
n = int(input("Enter The a Number"))
def ram(n):

   if n <= 17: 
      return 17 - n
   else:
      return(n - 17)*2
print(ram(n))

Enter The a Number 22

10

In [ ]:
17

In [ ]:
a = int(input("Enter The a Number"))
b = int(input("Enter The b Number"))
c = int(input("Enter The c Number"))

sum = a + b + c