In [8]:
import math 
   
def Main(): 
   num = -85
   
   # fabs is used to get the absolute  
   # value of a decimal 
   num = math.fabs(num) 
   print(num) 
       
       
if __name__=="__main__": 
   Main()

85.0

In [9]:
x = int(input("Enter the marks :"))
if(x>12 and x<35):
    print("x is Good")
elif(x>35):
    print("x is noot good")
else:
    print("x is grat")

Enter the marks : 12

x is grat

In [10]:
def hello(): 
   print("hello") 
   print("hello again") 
hello() 
hello()   
hello()

hello
hello again
hello
hello again
hello
hello again

In [11]:
def ram():
    x = int (input("Enter The Number "))
    return x

def Main():
    print("ram")
    y = ram()
    print(y)

if __name__=="__main__":
    Main()

ram

Enter The Number  22

22

In [12]:
i = 10 
if (i>10):
    print("yes")

print("no")

no

In [13]:
i = 20
if (i < 15):
    print("i is smaller than 15")
    print("i'm in if Block")
else:
    print("i is greater than 15")
    print("i'm in else Block")
print("i'm not in if and not in else Block")

i is greater than 15
i'm in else Block
i'm not in if and not in else Block

In [14]:
# Explicit function
def digitSum(n):
    dsum = 0
    for ele in str(n):
        dsum += int(ele)
    return dsum


# Initializing list
List = [367, 111, 562, 945, 6726, 873]

# Using the function on odd elements of the list
newList = [digitSum(i) for i in List if i & 1]

# Displaying new list
print(newList)

[16, 3, 18, 18]

In [15]:
x = int(input("Enter the x Number :"))
if(x == 10):
    if(x<15):
        print("x is smaller 15")

    if(x<12):
        print("x is smaller 12")
    else:
        print("x is greater than 15")

Enter the x Number : 33

In [16]:
x = int(input("Enter the x Number:"))
if(x>0 and x<15):
    print("number is 0 to 15")
elif(x>14 and x<25):
    print("Number is 15 to 25")

elif(x>24 and x<50):
    print("Number is 24 to 50")

else:
    print("x is grater than 50")

Enter the x Number: 22

Number is 15 to 25

In [17]:
letter = "A"
  
if letter == "B": 
    print("letter is B") 
  
else: 
  
    if letter == "C": 
        print("letter is C") 
  
    else: 
  
        if letter == "A": 
            print("letter is A") 
  
        else: 
            print("letter isn't A, B and C")

letter is A

In [18]:
x = int(input("Enter the x Number :"))
for x in range(1, 10):
    print(x)
    break

else:
    print("no break")

Enter the x Number : 12

1

In [19]:
print("jai shree Ram")
s = "jitendra"
for i  in s:
    print(i)

jai shree Ram
j
i
t
e
n
d
r
a

In [20]:
for x in range(0, 10, 2):
    print(x)

0
2
4
6
8

In [21]:
x = ["ram", "jitu", "rakesh"]
for count, ele in enumerate(x):
    print(count,ele)

0 ram
1 jitu
2 rakesh

In [22]:
for i in range(1, 4):
    for j in range(1, 4):
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [23]:
#Python for loop in One Line
x = [a for a in range(11)]
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
# Iterating over dictionary
print("Dictionary Iteration")
d = dict()
d['xyz'] = 123
d['abc'] = 345
for i in d :
    print("% s % d" % (i, d[i]))

Dictionary Iteration
xyz  123
abc  345

In [25]:
# Prints all letters except 'e' and 's'
x = str(input("Enter the string"))
for letter in x:

    if letter == 'e' or letter == 's':
        continue
    print('Current Letter :', letter)

Enter the string 12

Current Letter : 1
Current Letter : 2

In [26]:
x = str(input("Enter the string"))
for letter in x:

    # break the loop as soon it sees 'e'
    # or 's'
    if letter == 'e' or letter == 's':
        break

print('Current Letter :', letter)

Enter the string edededdd

Current Letter : e

In [27]:
# An empty loop
for letter in 'geeksforgeeks':
    pass
print('Last Letter :', letter)

Last Letter : s

In [28]:
clothes = ["shirt", "sock", "pants", "sock", "towel"]
paired_socks = []
for item in clothes:
    if item == "sock":
        continue
    else:
        print(f"Washing {item}")
paired_socks.append("socks")
print(f"Washing {paired_socks}")

Washing shirt
Washing pants
Washing towel
Washing ['socks']

In [29]:
# working of try() 
def divide(x, y):
    try:
        result = x // y # Floor Division : Gives only Fractional Part as Answer
        print("yes", result )
    except zerodivisionError:
        print("sorry")

divide(3, 2)

yes 1

In [30]:
def divide(x, y):
    try:
        result = x // y
        print("yes", result)
    except ZeroDivisionError:
        print("sorry")

divide(3, 0)

sorry

In [31]:
def divide(x, y):
    try:
        a = x // y
        print("Yes", a)
    except Exception as e: 
        # By this way we can know about the type of error occurring
        print("error", e)

divide(3, "GFG")
divide(3, 0)

error unsupported operand type(s) for //: 'int' and 'str'
error integer division or modulo by zero

In [32]:
# Program to depict else clause with try-except  
# Function which returns a/b
def ram(a, b):
    try:
        c = ((a+b) // (a-b))
    except ZeroDivisionError:
        print("zero")
    else:
        print(c)

ram(2.0, 3.0)
ram(3.0, 3.0)

-5.0
zero

In [33]:
# use to finally keyword
try:
    k= 5//0
    print(k)

except ZeroDivisionError:
    print("not divide by zero")
finally:
    print("this is always executed")

not divide by zero
this is always executed

In [34]:

data = 50
try: 
    data = data/0
except ZeroDivisionError: 
    print('Cannot divide by 0 ', end = '') 
else: 
    print('Division successful ', end = '') 
  
try: 
    data = data/5
except: 
    print('Inside except block ', end = '') 
else: 
    print('GFG', end = '')

Cannot divide by 0 GFG

In [35]:
Pas  Statement

SyntaxError: invalid syntax (2408415007.py, line 1)

In [ ]:
n = 26
if n > 26:
print("ram")

In [ ]:
# Correct way of writing empty function  
# in Python 
def fun():  
    pass

In [ ]:
# Empty loop in Python 
mutex = True
while (mutex == True) : 
    pass

In [ ]:
# Empty in if/else in Python 
mutex = True
if (mutex == True) : 
    pass
else : 
    print("False")

In [ ]:
n = 10
for i in range(n):
   
  # pass can be used as placeholder
  # when code is to added later
  pass

In [ ]:
a = 10
b = 20
 
if(a<b):
  pass
else:
  print("b<a")

In [ ]:
li =['a', 'b', 'c', 'd']
 
for i in li:
    if(i =='a'):
        pass
    else:
        print(i)

In [ ]:
x = 5
if x > 10:
    pass
else:
    print("x is less than or equal to 10")
def ram():
    pass
class MyClass:
    def __init__(self):
        pass

In [ ]:
class Sample_class: 
    some_variable = 20
        
    # method of the class 
    def my_method(self): 
        print("GeeksForGeeks") 
            
# check if class exists 
print(Sample_class) 
    
# delete the class using del keyword 
del Sample_class 
    
# check if class exists 
print(Sample_class)

In [ ]:
clothes = ["shirt", "sock", "pants", "sock", "towel"]
paired_socks = []
for item in clothes:
    if item == "sock":
        continue
    else:
        print(f"Washing {item}")
paired_socks.append("socks")
print(f"Washing {paired_socks}")

In [36]:

my_variable1 = 20
my_variable2 = "GeeksForGeeks"
  
# check if my_variable1 and my_variable2 exists 
print(my_variable1) 
print(my_variable2) 
  
# delete both the variables 
del my_variable1 
del my_variable2 
  
# check if my_variable1 and my_variable2 exists 
print(my_variable1) 
print(my_variable2)

20
GeeksForGeeks

NameError: name 'my_variable1' is not defined

In [37]:
my_list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9] 
my_list2 =["Geeks", "For", "Geek"] 
    
# check if my_list1 and my_list2 exists 
print(my_list1) 
print(my_list2) 

del my_list1[1] 
    
print(my_list1) 
    
# slice my_list1 from index 3 to 5 
del my_list1[3:5] 
    
# check if the elements from index 3 to 5 in my_list1 is deleted 
print(my_list1) 
    
# delete my_list2 
del my_list2 
    
# check if my_list2 exists 
print(my_list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
['Geeks', 'For', 'Geek']
[1, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 4, 7, 8, 9]

NameError: name 'my_list2' is not defined